.myFont{
    color:yellow;
    background-color: red;
}

.myfont2{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.myfont3{
    font-size: 60px;
}
